<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Server Configuration -->
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="DefaultFacesXMLModel" value="" />
    <add key="DefaultEyesXMLModel" value="" />
    <add key="DefaultFacesRatio" value="1.1" />
    <add key="DefaultEyesRatio" value="1.1" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="WatchDogService.WatchDogWcfService">
        <endpoint
		address="http://localhost:8765/WatchDogWcfService"
		binding="wsHttpBinding"
		contract="WatchDogService.IWatchDogWcfService" />
      </service>
    </services>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>